<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    <form action="/form" method="post">
        <input type="text" name="content" placeholder="question">
        <input type="text" name="theme" placeholder="theme">
     <button type="submit">Valider</button>
    </form>
</body>
</html>