<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <%- include('partials/head') -%>
</head>
<body>
<%- include('partials/header') -%>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-5">Bienvenue sur notre quiz !</h1>
            <p class="lead text-center mb-5">Testez vos connaissances sur différents sujets</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 mb-3">
            <a class="btn btn-primary btn-lg btn-block" href="/quizz">Démarrer une session de quiz</a>
        </div>
    </div>
</div>
</body>
</html>
